<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop3="http://schemas.microsoft.com/appx/manifest/desktop/windows10/3"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap uap5 desktop desktop3 desktop6 rescap systemai">

  <Identity
    Name="CrossDroid.Windows.App"
    Publisher="CN=IoriStudios"
    Version="2.0.1.0" />

  <mp:PhoneIdentity PhoneProductId="25DEAE69-94AE-481A-B416-F185DAF160BB" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>CrossDroid Companion</DisplayName>
    <PublisherDisplayName>Iori Studios</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="CrossDroid Companion"
        Description="CrossDroid Windows local file sharing client"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- Standard File Association for .crossdroid files (schema compliant, no COM DLL required) -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="crossdroidfile">
            <uap:SupportedFileTypes>
              <uap:FileType>.crossdroid</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>CrossDroid Share Target</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <!-- Windows Startup Task for Auto-Start -->
        <desktop:Extension Category="windows.startupTask" Executable="CrossDroid.Windows.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="CrossDroidStartup" Enabled="false" DisplayName="CrossDroid Companion" />
        </desktop:Extension>

        <!-- App Execution Alias for Context Menu activation -->
        <uap5:Extension Category="windows.appExecutionAlias" Executable="CrossDroid.Windows.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="crossdroid.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="unvirtualizedResources" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
